.wrapper{
    width: 359px;
    height: 377px;
    border: 1.4px solid var(--color-secondary);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    margin-top: 50px;
}
.black{
    background-color: var(--color-primary);
}
.gray{
    background-color: #2E2E2E;
}
.btn{
    width: 121px;
    height: 43px;
    border-radius: 23px;
    background-color: var(--color-yellow);
    border: none;
    color: var(--color-black);
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}
.content{
    color: var(--color-secondary);
}
